@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat','sans-serif';
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../A-6/pexels-screen-post-4526481.jpg");
    background-size: cover;
    background-position: center;
}
.logo{
    position: absolute;
    top: 25px;
    left: 16px;
}
.logo img{
    width: 120px;
}
ul{
    list-style: none;
    display: flex;
    float: right;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #ffff;
    padding: 5px 25px;
    border: 2px solid transparent;
    transition: .6 ease;
}
ul li a:hover{
    background-color: white;
    color: #000;
}
.text{
    position: absolute;
    top: 45%;
    left: 15%;
}
h1{
    font-size: 4em;
    color: white;
    text-transform: uppercase;
    font-family: 'Cinzel',serif;
    text-shadow: 5px 5px 5px rgba(85,20,20,.733);
}
.text p{
    color: white;
    margin-top: 20px;
}
span{
    padding-left: 10px;
}
.page{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #050505;
    opacity: .4;
    display: flex;
    width: 65%;
    height: 120px;
}
.page h2{
    float: left;
    padding: 5px;
    font-size: 3em;
    color: white;
}
.page div{
    width: 300px;
    padding: 19px;
}
.page div:nth-child(1){
    border-top: 8px solid yellow;
}

.page p{
    padding-top: 15px;
    color: #fff;
}
@media screen and (max-width :600px){
    
}
































